#wrapper, body {
	overflow: hidden;
}

.spookyGhost {
	display: none;
	transform-origin: center;
	overflow: visible;
}

@keyframes scaling {
	0% {
		opacity: 0;
		transform: scale(100%);
	}
	10% {
		opacity: 0;
		transform: scale(100%);
	}
	25% {
		opacity: 1;
		transform: scale(300%);
	}
	75% {
		opacity: 1;
		transform: scale(100%);
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes wiggle {
	0% { transform: rotate(-2.5deg); }
	10% { transform: rotate(2.5deg); }
	20% { transform: rotate(-5deg); }
	30% { transform: rotate(5deg); }
	40% { transform: rotate(-10deg); }
	50% { transform: rotate(10deg); }
	60% { transform: rotate(-10deg); }
	70% { transform: rotate(10deg); }
	80% { transform: rotate(-5deg); }
	90% { transform: rotate(5deg); }
	100% { transform: rotate(-2.5deg); }
}

.sizer {
	overflow: visible;
}

.scaler {
	/* note to self: add quotes to animation-name's value sometime after CEF updates past chromium 127 */
	position: fixed;
	opacity: 0;
	animation-name: scaling;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: center;
	overflow: visible;
}

.wiggler {
	/* note to self: add quotes to animation-name's value sometime after CEF updates past chromium 127 */
	animation-name: wiggle;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: center;
	overflow: visible;
}